*{
    padding: 0px;
    margin: 0px;
    background-color: black;
    cursor: pointer;

}
.header{
    color: brown;

}
li{
    color: white;
    display: inline;
    margin-left: 10px;
    

}
h1,ul,nav{
    display: inline;
}
ul{
    margin-left: 70%;

}

.header{
    padding: 5px;
    margin: 5px;
}
.tiny:hover{
    color:brown;
    text-decoration: underline;
    
}
.what{
    border:2px solid;
    border-radius:12px 12px ;
    padding: 4px;
    padding-top: 2px;
    border-color: brown;
    background-color:brown;
    padding-left: 10px;
    padding-right: 10px;
}
.image img{
    heigth: 300px;
    width: 300px;
    border-radius: 150px;
    border-color: rgb(59, 163, 149);
}
.image{
    display: inline-block;
    margin-top: 130px;
    margin-left: 13%;

}
span{
    color: aqua;
    display: inline;
}
.headerr{
    display: inline;
    margin-top: 170px;
    margin-left: 5%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.second{
    display: flex;
}
.tochange{
    font-size: 20px;
}
p{
    margin-top: 20px    ;
}
.link{
    margin-top: 35px;
    font-size: 15px;
    border: 2px solid aqua;
    display: inline-block;
    padding: 5px;
    border-radius: 45%;
    background-color: transparent;
    transition: 0.3s linear;
}
.link:hover
{
    filter:drop-shadow(0 0 10px aqua);
    scale:1.3;
    color:aliceblue;
    background-color: aqua;
    text-decoration: none;
}
.link2{
    margin-top: 35px;
    font-size: 15px;
    border: 2px solid aqua;
    display: inline-block;
    padding: 5px;
    border-radius: 45%;
    background-color: transparent;
    transition: 0.3s linear;
    margin-left: 10px;
}
.link2:hover
{
    filter:drop-shadow(0 0 10px aqua);
    scale:1.3;
    color:aliceblue;
    background-color: aqua;
    text-decoration: none;
}
button{
    color: antiquewhite;
    border-color: brown;
    border-radius: 15px;
    padding: 10px;
    margin-top: 35px;
    display: inline-block;
    
}
button:hover{
    transition-duration: 1s;
    transform: scale(1.3);
}
h2{
    color: aqua;
    font-size: 15px;
}
.tit{
    border: 20px solid blueviolet;
    border-width: 3px;
    display: inline-block;
    border-radius: 15px;
    padding:8px;
    margin-top: 15px;
    margin-left: 13px;
    border-color:red;
    background-color:rgb(23, 235, 189);
    font-size: 23px ;
    font-family: Arial, Helvetica, sans-serif;
}
.tabb{
    border-color: white;
    border-style: solid;
    border-width: 2px;
    display: inline-block;
    margin-left: 50px;
    margin-top: 20px;
    border-radius: 15px;
    background-color: grey ;
    margin-right: 40px ;
}
.nbutten{
    margin-left: 30%;
}
.last{
    color: blue;
    text-align: center;
    padding-top:100px;
}
img{
    filter: drop-shadow(15px 15px 15px  aqua);
}